<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUO1ZxiCku9ZQIHMWU4L2b31FiB1u_KLw</string>
	<key>GCM_SENDER_ID</key>
	<string>165533696133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewly</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-interviewly</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-interviewly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165533696133:ios:1a531dbb9311b0071b69ec</string>
</dict>
</plist>